.product-form{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
}

.dark{
	background-color: #f6f6f6;
}

.product-form .content{
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: white;
}

.product-form .block-heading{
    padding-top: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.product-form .block-heading p{
	text-align: center;
	max-width: 420px;
	margin: auto;
	opacity:0.7;
}

.product-form.dark .block-heading p{
	opacity:0.8;
}

.product-form .block-heading h1,
.product-form .block-heading h2,
.product-form .block-heading h3 {
	margin-bottom:1.2rem;
	color: #3b99e0;
}

.product-form form{
	/* border-top: 2px solid #5ea4f3; */
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: 600px;
	margin: auto;
}

 .product-form .col-row{
	/* border-top: 2px solid #5ea4f3; */
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
	background-color: #ffffff;
	padding: 0;
	max-width: auto;
	margin: auto;
  height: 750px;
}


.product-form .title{
	font-size: 1em;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 0.8em;
	font-weight: 600;
	padding-bottom: 8px;
}

.product-form .products{
	background-color: #f7fbff;
    padding: 25px;
}
.form-group{
  margin-bottom: 1em;
}

.product-form .products .item{
	margin-bottom:1em;
}

.product-form .products .item-name{
	font-weight:600;
	font-size: 0.9em;
}

.product-form .products .item-description{
	font-size:0.8em;
	opacity:0.6;
}

.product-form .products .item p{
	margin-bottom:0.2em;
}

.product-form .products .price{
	float: right;
	font-weight: 600;
	font-size: 0.9em;
}

.product-form .products .total{
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	padding-top: 19px;
	font-weight: 600;
	line-height: 1;
}

.product-form .product-details{
	padding: 25px 25px 15px;
}

.product-form .product-details label{
	font-size: 12px;
	font-weight: 600;
	margin-bottom: 15px;
	color: #79818a;
	text-transform: uppercase;
}

.product-form .product-details button{
	margin-top: 0.6em;
	padding: 5px 0;
	font-weight: 300;
}

.product-form .date-separator{
 	margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
button{
  width: 100px;
  background: rgb(36, 22, 75);
}

.file-dropzone{
  height: 150px;
  min-width: 150px;
  display: table;
  background-color: #eee;
  width: 400px;
  border: solid 1px #aaa;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}
.text-wrapper{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.btn-remove-img{
  position: absolute;
  cursor: pointer;
  top:-16px;
  right: -10px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  width: 25px;
  height: auto;
  text-align: center;
 }

mat-grid-tile{

  border: 1px solid #eee;
   box-shadow:  1px 1px 1px 1px rgba(214, 214, 223, 0.507);
/* padding: 2px; */
}

/* img {
	margin-top: 10px;
	border: 1px solid #ccc;
	padding: 5px;
	display: block;
  } */


@media (min-width: 576px) {
	.product-form .title {
		font-size: 1.2em;
	}

	.product-form .products {
		padding: 40px;
  	}

	.product-form .products .item-name {
		font-size: 1em;
	}

	.product-form .products .price {
    	font-size: 1em;
	}

  	.product-form .product-details {
    	padding: 40px 40px 30px;
    }

  	/* .product-form .product-details button {
    	margin-top: 2em;
    } */
}
